body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.foot {
	font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #000000;
}

.error {
	color: #00FF00;
	background-color: #F05050;
}